<%= simple_form_for @project, :html => {:multipart => true} do |f| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-offset-3">
      <div class="form-group">
        <div class="field">
          <%= f.label :title %>
          <%= f.text_field :title, class: "form-control" %>
        </div>
      </div><!-- form group -->

      <div class="form-group">
        <div class="field">
          <%= f.label :image %>
          <%= f.file_field :image %>
        </div>
      </div><!-- form group -->

      <div class="form-group">
        <div class="field">
          <%= f.label :description %>
          <%= f.text_field :description, class: "form-control" %>
        </div>
      </div><!-- form group -->

      <div class="form-group">
        <div class="field">
          <%= f.label :summary %>
          <%= f.text_area :summary, class: "form-control" %>
        </div>
      </div><!-- form group -->

      <div class="form-group">
        <div class="actions">
          <%= f.button :submit, class: "btn btn-primary" %>
        </div>
      </div><!-- form group -->

    </div>
  </div>
</div><!-- container end -->

<% end %>
