<div class="full_project">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <div class="back-btn">
            <i class="fa fa-angle-left"></i> <%= link_to 'Back', projects_path, class: "back" %>
        </div>
        <div class="project_show">
          <p>
            <h2><%= @project.title %> <small> | <%= @project.description %></small></h2>
          </p>
          <p>
            <%= image_tag(@project.image.full_size.url, class:"img-responsive")  %>
          </p>
          <p>
            <%= @project.summary %>
          </p>

          <% if user_signed_in? %>
            <div id="admin_links" class="text-center">
              <%= link_to 'Edit Project', edit_project_path(@project) %> :
              <%= link_to 'Delete Project', project_path(@project), method: :delete, data: { confirm: "Are you sure?" } %>
            </div>
          <% end %>

        </div>
      </div>
    </div>
  </div>
</div>
